condor_err
condor_logs
condor_out
trained_model
submit_train.jdl
train.sh
.idea
.conda
.vscode
*__pycache__
utils/*
!utils/function.py
!utils/lr_scheduler.py
!utils/metric.py
!utils/my_utils.py
!utils/printer.py
!utils/seed.py
debug-cli.ypeng4.log

preprocessing
models/pH